<table class='table table-striped' aria-labelledby="tableLabel" style="text-align: center">
    <thead>
        <tr>
            <th>Name</th>
            <th>Success solutions</th>
            <th>Tasks</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let userTaskGroup of userTaskGroups">
            <td>{{ userTaskGroup.name }}</td>
            <td>{{ userTaskGroup.solutionsNumber }}</td>
            <td>
                <details>
                    <summary>Tap to show/hide all tasks</summary>
                    <p *ngFor="let contestTask of userTaskGroup.contestTasks">
                        {{ contestTask}}
                    </p>
                </details>
            </td>
        </tr>
    </tbody>
</table>
